Django>=5.0
Pillow          # Обязательно для работы с ImageField и картинками
requests        # Обязательно для вашего нового services.py (скачивание)
python-decouple # Скорее всего используется для чтения вашего .env файла
tzdata          # Часто нужно для корректной работы с часовыми поясами в Django на Windows
